

<ion-content>
  
<div  class="wrapper">
  <div class="top">
    <p style="position: absolute;top:3%;color: white; font-weight: bold;font-size: 20px;left: 10%;">Spaces In Operation</p>
    <div class="spaces">
      <ion-card class="card" style="width: 90%; height: 40%; position: absolute;top: 15%; background-color: #b55ff1; box-shadow: 5px 10px #871fd1;">
        <p style="position: absolute;" class="SpaceName"> Office 2B</p>
        <p style="position: absolute;top: 55%;" class="datebooked"> 27-03-1818 to 29-03-1818</p>
        
        
        </ion-card>
    </div>
    
  </div>
  

  
  
  
    <div class="bottom">
    <img [routerLink]="'/add-space-modal'" style="width: 60px;" src="assets/upload.png" alt="">
    <p style="color: white;" class="upload">Upload work space.</p>
    <ion-icon [routerLink]="'/owner-home'" style="color: white;font-size: 30px;position: absolute;bottom: 0%;" name="home-outline"></ion-icon>

  </div>
</div>
</ion-content>
