
ion-content{
  display: flex;
  justify-content: center;
  align-items:center ;  
  position: absolute;
  --background: #1D2729;
}

.bgImg{
position: absolute;

}

.wrapper{
    width: 100%;
    height: 100%;
   background-color: #1D2729;
   opacity: 95%;

}
.textBorder{
    width: 100%;
    height: 28%;
    border-style: solid;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
    border-color: grey;
    position: absolute;
    top: 10%;
    left: 3px;
  
   
   color: white;
}
.date{
    font-size: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.catagories{
    width: 100%;
    height: 10%;
  //border-style: solid;
border-color: honeydew;
position: absolute;
bottom: 50%;
    
display: flex;
justify-content: center;
align-items: center;


}

.bottom{
    width: 100%;
    height: 42%;
  border-style: solid;
border-color: honeydew;
position: absolute;
bottom: 5%;
display: flex;
justify-content: center;
align-items: center;
border-right: 0px;
border-left: 0px;
border-bottom: 0px;
border-color: grey;

}
.bottom1{
width: 50%;
height: 70%;
//border-style: solid;
position: absolute;
left: 5%;
top: 20%;
}
.bottom2{
    width: 38%;
    height: 35%;
    //border-style: solid;
    position: absolute;
    right: 5%;
    top: 20%;
    }

    .bottom3{
        width: 38%;
        height: 35%;
        //border-style: solid;
        position: absolute;
        right: 5%;
        top:55%;
        }
        .bottomText{
            position: absolute;
            top: 0%;
            left: 5%;
            color: rgb(156, 156, 156);
            top: 12%;
        }
        ion-card{
            display: flex;
            justify-content: center;
            align-items: center; 
            color: white;
        }