
<ion-content >
<div class="bgImg">  <img style="width: 100%; height: 50%;" src="assets/bg.jpg"> </div>
<div class="wrapper">
<div class="textBorder">
<p style="font-weight: bold;font-size: large;">My working space</p> <p>Manage your content</p>
<div class="date">
  21-01-2020
</div>
</div>
<div class="catagories">

  <ion-card [routerLink]="'/bookings'" style="width:40%; background-color: #A944F1; height: 100%; font-size: 11px;font-weight: bold;">
    <p style="position: absolute;left: 15%;top: 20%;">Bookings</p></ion-card>
  <ion-card [routerLink]="'/manage-spaces'" style="width:40%; background-color: #16D6E3; height: 100%;font-size: 10px;font-weight: bold">
     <p style="position: absolute;left: 12%;top: 20%;">Work Spaces</p></ion-card>
  <ion-card [routerLink]="'/profile'" style="width:40%; background-color: #2D98E6; height: 100%;font-size: 11px;font-weight: bold">  
     <p style="position: absolute;left: 15%;top: 20%;">Profile</p></ion-card>
</div>

<div class="bottom">
  <div class="bottomText">
    Scenes
  </div>
<div class="bottom1"> <img style="width: 90%; height: 100%;" src="assets/owner.jpg" alt=""> </div>
<div class="bottom2"> <img style="width: 100%; height: 100%;" src="assets/owner1.jpg" alt=""> </div>
<div class="bottom3"> <img style="width: 100%; height: 100%;" src="assets/owner2.jpg" alt=""></div>

</div>
<ion-icon [routerLink]="'/add-space-modal'" style="position: absolute;bottom: 0%;color: white;font-size: 40px;" name="add-circle-outline"></ion-icon>
</div>
</ion-content>
