<ion-content>
  <div class="wrapper">
 
    <p [routerLink]="'/history'" class="one">History</p>
    <div class="firstbox">
<p [routerLink]="'/new-bookings'"  class="two">New Bookings</p>
<div class="secondbox">
  <ion-icon [routerLink]="'/owner-home'" style="font-size: 30px;color: whitesmoke; position: absolute; top:8%; left: 5%;" name="arrow-back-outline"></ion-icon>
  <p class="zero">  What your users think.</p>
  <div class="frmReviews">
   
    <ion-card class="reviewscard">
      <div class="reviewpic">
      
        <img style="width: 20%;  border-radius: 50%;position: absolute;left: 5%;top: 5%;" src="assets/profile.jpg">
    
        </div>
     <div class="review">
       <ul>
         <li>
          This is a comment from me themba, i am commenting about your app.It was a great expirience 
         </li>
       </ul>
     
     </div>
    
    </ion-card>
  </div>
</div>
</div>

</div>

</ion-content>




   